@tailwind base;
@tailwind components;
@tailwind utilities;

.transform-center{
    transform: translate( -50%, -50%);
}

label{
    color: #363d55;
    font-weight: 600;
    margin-bottom: 0.3em;
}

textarea{
    width: 100%;
    padding: 0.7em 0.5em;
    border: 1px solid #d0d0d0;
    outline: none;
    resize: none;
    color: #414a67;
    border-radius: 0.3em;
}

textarea:not(:last-child){
    margin-bottom: 1.2em;
}

textarea:focus{
    border-color: #363d55;
}

.hide{
    display: none;
}
.card{
    background-color: #ffffff;
    box-shadow: 0 0.4em 1.2em rgba(28, 0, 80, 0.08);
    padding: 1.2em;
    border-radius: 0.4em;
}

.question-div,.answer-div{
    text-align: justify;
}

.question-div{
    margin-bottom: 0.5em;
    font-weight: 500;
    color: #363d55;
}

.answer-div{
    margin-top: 1em;
    font-weight: 400;
    color: #414a67;
}

.show-hide-btn{
    display: block;
    background-color: rgb(59, 130, 246);
    color: #ffffff;
    text-align: center;
    padding: 0.6em 0;
    border-radius: 0.3em;
}

.buttons-con{
    display: flex;
    justify-content: flex-end;
}

.edit , .delete{
    background-color: transparent;
    padding: 0.5em;
    font-size: 1.2em;
}

.edit{
    color: rgb(59, 130, 246);
}

.delete{
    color: red;
}